nav {
    border-bottom: 2px;
    border-color: purple;
  }


.logout-btn {
  width: 150px;
  border-radius: 3px;
  letter-spacing: 1.5px;
  position: absolute;
  right: 10px;
  background-color: #FFFFFF;
  border-color: #E8E8E8;
  color: black;
  /* margin-left: 900px; */
}