form {
    margin: 20px 0px;
    padding: 0px 200px;     
}

.rest-img {
    height: 30%;
    width: 30%;
}

a {
    color: purple;
}

a:hover {
    color: rebeccapurple;
    cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='50' height='60' viewport='0 0 100 100' style='fill:black;font-size:30px;'><text y='50%'>❗</text></svg>") 16 0,auto; /*!emojicursor.app*/
}
body{
    cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='50' height='60' viewport='0 0 100 100' style='fill:black;font-size:30px;'><text y='50%'>💁‍</text></svg>") 16 0,auto;
}


.fas:hover {
    cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='50' height='60' viewport='0 0 100 100' style='fill:black;font-size:30px;'><text y='50%'>💯</text></svg>") 16 0,auto; /*!emojicursor.app*/
}

